body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 90%; /* Agar tidak terlalu lebar di handphone */
}

h1 {
  color: #000000;
  font-size: 2em; /* Ukuran font yang lebih besar untuk handphone */
}

p {
  font-size: 1.2em;
  color: #333;
}

#rButton {
  background-color: #000000;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1.2em;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

#rButton:hover {
  background-color: #c0392b;
}

/* Media Query untuk Handphone */
@media (max-width: 600px) {
  h1 {
    font-size: 1.5em; /* Ukuran font lebih kecil di handphone */
  }

  p {
    font-size: 1em;
  }

  #heartButton {
    font-size: 1em;
    padding: 8px 16px;
  }
}

/* Animasi untuk tombol */
@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

#heartButton {
  animation: heartbeat 1.5s infinite;
}

/* Efek hover untuk tombol */
#heartButton:hover {
  animation: none; /* Hentikan animasi saat dihover */
  transform: scale(1.1);
}
